@import "tailwindcss";

@theme {
  /* Custom colors */
  /* Based on color picks from the wireframe */
  --color-bgPrimary: #f8fafc;
  --color-bgSecondary: #eff4fa;
  --color-text: #1e1e1e;
  --color-buttonPrimary: #60758c;
  --color-buttonSecondary: #0b172a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
